.encabezado {
    background-color: #1B1D1F;
    margin: 100px 90px;
    width: 90%;
    max-height: 30%;
    border-radius: 30px;
    position: relative;
}

.principal-coffee {
    margin-top: 20px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) !important; /* Esto creará columnas que se ajusten al tamaño de las tarjetas */
    gap: 20px !important; /* Espacio entre las tarjetas */
    padding: 60px !important; /* Padding alrededor del grid */
}

.tittle-content{
    color: aliceblue;
    padding: 100px 0 0 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-content{
    width: 100%;
    margin: 20px 0 40px 0;
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 100;
    font-style: normal;
    color: #6F757C;
}

.style-button{
    background-color: #1B1D1F;
    color: aliceblue;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 200;
}

.style-button:hover{
    background-color: #6F757C;
}


.img-content{
    position: relative;
    border-radius: 15px;
    height: 190px;
    width: auto;
}

.coffee-cards{
    margin-top: 5px;
    max-width: 400px;
    background-color: #1B1D1F;
    border-radius: 15px;
}

.controller-content{
    margin-top: 5px;
    display: flex;
    color: white;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea verticalmente al centro */
}

.controller-price{
    background-color: #BEE3CC;
    color: #111315;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
    float: right !important;
    padding: 2px 8px; /* Añade un poco de padding para mejorar la apariencia */
    white-space: nowrap; /* Evita que el precio se divida en varias líneas */
}

.controller-rating{
    color: white;
    display: flex;
    flex-wrap: wrap;
    color: white !important;
    font-weight: 600 !important;
}

.controller-star{
    margin: -5px 5px;
    color: #F6C768 !important;
    float: left !important;
}

.principal-image{
    width: 2250px;
    height: 350px;
    margin: -8% 0 0 -25%;
    position: absolute;
}

.controller-votes{
    color: #6F757C;
    margin: 0 5px;
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.vector{
    position: absolute;
    margin: 42px 0 0 840px;
}

.controller-available{
    color: #ED735D;
    margin-top: -3px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Inter", sans-serif !important;
}


.activestyle-button {
    box-shadow: inset 0 1px 0 0 #6F757C;
    background: #bddbfa linear-gradient(to bottom, #6F757C 5%, #6F757C 100%);
    border: 1px solid #6F757C;
    color: #ffffff;
    text-shadow: 0 1px 0 #6F757C;
}

.controller-popular{
    background-color: #F6C768;
    position: absolute;
    max-width: 60px;
    margin: -180px 10px;
    padding: 3px 8px !important;
    border-radius: 50px;
    color: #111315;
    font-weight: bold;
    font-size: 12px;
    font-family: "Inter", sans-serif !important;
}

.button_modal{
    margin: 0 300px;
}

/* STYLES IMPORTS OF ANGULAR MATERIAL: BUTTONS */
section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }